/* Prev button style */
.swiper-button-prev {
  background-color: black;
  width: 40px !important;
  height: 40px !important;
  left: 0 !important;
  top: 35% !important;
}

.swiper-button-prev.swiper-button-disabled {
  display: none !important;
}

.swiper-button-prev:after {
  font-size: 16px !important;
  color: #fff;
  font-weight: 900;
}

/* Next button style */
.swiper-button-next {
  background-color: #23252b;
  width: 40px !important;
  height: 40px !important;
  right: 0 !important;
  top: 35% !important;
}

.swiper-button-next.swiper-button-disabled {
  display: none !important;
}

.swiper-button-next:after {
  font-size: 16px !important;
  color: #fff;
  font-weight: 900;
}

@media (max-width: 767px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}
