---
export const data = [
  {
    image: '/images/watchlist/wl-1.webp',
    animeName: 'JUJUTSU KAISEN',
    episodeName: 'Up Next: S1 E22',
    serie: 'Sub | Dub',
    duration: '20m left',
    commentsCount: '467',
  },
  {
    image: '/images/watchlist/wl-2.webp',
    animeName: 'That Time I Got Reincarnated as a Slime',
    episodeName: 'Continue: S55',
    serie: 'Sub | Dub',
    duration: '24m',
    commentsCount: '525',
  },
  {
    image: '/images/watchlist/wl-3.webp',
    animeName: 'KAGUYA-SAMA: LOVE IS WAR',
    episodeName: 'Continue S1 E4',
    serie: 'Sub | Dub',
    duration: '23m',
    commentsCount: '1.1k',
  },
  {
    image: '/images/watchlist/wl-4.webp',
    animeName: 'Attack on Titan',
    episodeName: 'Continue: S4 E-SP1',
    serie: 'Subtitled',
    duration: '21m left',
    commentsCount: '556',
  },
];
---

<div class='mt-4'>
  <div class='grid grid-cols-12 gap-5'>
    {
      data.map((item) => (
        <div class='col-span-6 cursor-pointer md:col-span-4 lg:col-span-3'>
          <div class='flex items-start justify-between flex-col h-full'>
            <div>
              <a data-astro-reload href='#' class='hover:opacity-90'>
                <div class='relative flex items-center justify-center'>
                  <img src={item.image} class='' />
                </div>
              </a>

              <a data-astro-reload href='#' class='mt-2 font-semibold line-clamp-2 leading-5'>
                {item.animeName}
              </a>
              <a
                data-astro-reload
                href='#'
                class='transition-colors delay-75 ease-in-out mt-2 text-12 font-bold uppercase text-dim line-clamp-1 hover:text-white'
              >
                {item.episodeName}
              </a>
            </div>
            <div class='mt-2.5 flex items-center justify-between'>
              <div>
                <span class='text-[#2abdbb]'>Series:&nbsp;</span>
                <span class='text-xxs text-dim'>&#11201;</span>
                <span class='text-xxs text-dim'>&nbsp;{item.serie}</span>
              </div>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>
