---
import { BREAKPOINTS } from '@/utilities/constants';

interface Props {
  href?: string;
  srcSmall: string;
  srcLarge: string;
}

const { href = '#', srcSmall, srcLarge } = Astro.props;
---

<a href={href}>
  <picture>
    <source media={`(max-width: ${BREAKPOINTS.md}px)`} srcset={srcSmall} />
    <img src={srcLarge} alt='middle-banner' class='w-full' />
  </picture>
</a>
