---
interface Props {
  class?: string;
  style?: string;
}

const { class: className, style, ...restProps } = Astro.props;
---

<div
  {...restProps}
  class:list={`mx-auto lg:max-w-screen-lg px-4 md:px-8 ${className || ''}`}
  style={style}
>
  <slot />
</div>
