---
import Container from './Container.astro';
import YoutubeIcon from '@/components/icons/YoutubeIcon.astro';
import TwitterIcon from '@/components/icons/TwitterIcon.astro';
import InstagramIcon from '@/components/icons/InstagramIcon.astro';
import FacebookIcon from '@/components/icons/FacebookIcon.astro';
import Typography from './ui/Typography.astro';
---

<footer class='footer pt-10'>
  <Container>
    <div class='border-b-[1px] border-[#4a4e58] pb-4 md:pb-6'>
      <div class='grid grid-cols-12 gap-4'>
        <div class='col-span-6 md:col-span-4 lg:col-span-3'>
          <div>
            <Typography as='h4' size='md' class='mb-2 font-semibold'>Navigation</Typography>
            <ul class='space-y-1'>
              <li>
                <a href='#'>
                  <Typography
                    as='span'
                    size='md'
                    color='dim'
                    class='hover:text-white hover:underline transition-colors delay-75 ease-in-out'
                  >
                    Browse Popular
                  </Typography>
                </a>
              </li>
              <li>
                <a href='#'>
                  <Typography
                    as='span'
                    size='md'
                    color='dim'
                    class='hover:text-white hover:underline transition-colors delay-75 ease-in-out'
                  >
                    Browse Simulcasts
                  </Typography>
                </a>
              </li>
              <li>
                <a href='#'>
                  <Typography
                    as='span'
                    size='md'
                    color='dim'
                    class='hover:text-white hover:underline transition-colors delay-75 ease-in-out'
                  >
                    Browse Manga
                  </Typography>
                </a>
              </li>
              <li>
                <a href='#'>
                  <Typography
                    as='span'
                    size='md'
                    color='dim'
                    class='hover:text-white hover:underline transition-colors delay-75 ease-in-out'
                  >
                    Browse Calendar
                  </Typography>
                </a>
              </li>
              <li>
                <a href='#'>
                  <Typography
                    as='span'
                    size='md'
                    color='dim'
                    class='hover:text-white hover:underline transition-colors delay-75 ease-in-out'
                  >
                    News
                  </Typography>
                </a>
              </li>
              <li>
                <a href='#'>
                  <Typography
                    as='span'
                    size='md'
                    color='dim'
                    class='hover:text-white hover:underline transition-colors delay-75 ease-in-out'
                  >
                    Games
                  </Typography>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class='col-span-6 md:col-span-4 lg:col-span-3'>
          <div>
            <Typography as='h4' size='md' class='mb-2 font-semibold'>Connect With Us</Typography>
            <ul class='space-y-1'>
              <li>
                <a
                  href='#'
                  class='flex items-center gap-1 text-dim hover:text-white hover:underline transition-colors delay-75 ease-in-out'
                >
                  <YoutubeIcon />
                  <Typography as='span' size='md' color='dim'>Youtube</Typography>
                </a>
              </li>
              <li>
                <a
                  href='#'
                  class='flex items-center gap-1 text-dim hover:text-white hover:underline transition-colors delay-75 ease-in-out'
                >
                  <FacebookIcon />
                  <Typography as='span' size='md' color='dim'>Facebook</Typography>
                </a>
              </li>
              <li>
                <a
                  href='#'
                  class='flex items-center gap-1 text-dim hover:text-white hover:underline transition-colors delay-75 ease-in-out'
                >
                  <TwitterIcon />
                  <Typography as='span' size='md' color='dim'>Twitter</Typography>
                </a>
              </li>
              <li>
                <a
                  href='#'
                  class='flex items-center gap-1 text-dim hover:text-white hover:underline transition-colors delay-75 ease-in-out'
                >
                  <InstagramIcon />
                  <Typography as='span' size='md' color='dim'>Instagram</Typography>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class='col-span-6 md:col-span-4 lg:col-span-3'>
          <div>
            <Typography as='h4' size='md' class='mb-2 font-semibold'>Crunchyroll</Typography>
            <ul class='space-y-1'>
              <li>
                <a href='#'>
                  <Typography
                    as='span'
                    size='md'
                    color='dim'
                    class='hover:text-white hover:underline transition-colors delay-75 ease-in-out'
                  >
                    About
                  </Typography>
                </a>
              </li>
              <li>
                <a href='#'>
                  <Typography
                    as='span'
                    size='md'
                    color='dim'
                    class='hover:text-white hover:underline transition-colors delay-75 ease-in-out'
                  >
                    Help/FAQ
                  </Typography>
                </a>
              </li>
              <li>
                <a href='#'>
                  <Typography
                    as='span'
                    size='md'
                    color='dim'
                    class='hover:text-white hover:underline transition-colors delay-75 ease-in-out'
                  >
                    Terms of Use
                  </Typography>
                </a>
              </li>
              <li>
                <a href='#'>
                  <Typography
                    as='span'
                    size='md'
                    color='dim'
                    class='hover:text-white hover:underline transition-colors delay-75 ease-in-out'
                  >
                    Privacy Policy
                  </Typography>
                </a>
              </li>
              <li>
                <a href='#'>
                  <Typography
                    as='span'
                    size='md'
                    color='dim'
                    class='hover:text-white hover:underline transition-colors delay-75 ease-in-out'
                  >
                    AdChoices
                  </Typography>
                </a>
              </li>
              <li>
                <a href='#'>
                  <Typography
                    as='span'
                    size='md'
                    color='dim'
                    class='hover:text-white hover:underline transition-colors delay-75 ease-in-out'
                  >
                    Your Privacy Choices
                  </Typography>
                </a>
              </li>
              <li>
                <a href='#'>
                  <Typography
                    as='span'
                    size='md'
                    color='dim'
                    class='hover:text-white hover:underline transition-colors delay-75 ease-in-out'
                  >
                    Cookie Consent Tool
                  </Typography>
                </a>
              </li>
              <li>
                <a href='#'>
                  <Typography
                    as='span'
                    size='md'
                    color='dim'
                    class='hover:text-white hover:underline transition-colors delay-75 ease-in-out'
                  >
                    Press Inquiries
                  </Typography>
                </a>
              </li>
              <li>
                <a href='#'>
                  <Typography
                    as='span'
                    size='md'
                    color='dim'
                    class='hover:text-white hover:underline transition-colors delay-75 ease-in-out'
                  >
                    Get the Apps
                  </Typography>
                </a>
              </li>
              <li>
                <a href='#'>
                  <Typography
                    as='span'
                    size='md'
                    color='dim'
                    class='hover:text-white hover:underline transition-colors delay-75 ease-in-out'
                  >
                    Redeem Gift Card
                  </Typography>
                </a>
              </li>
              <li>
                <a href='#'>
                  <Typography
                    as='span'
                    size='md'
                    color='dim'
                    class='hover:text-white hover:underline transition-colors delay-75 ease-in-out'
                  >
                    Jobs
                  </Typography>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class='col-span-6 md:col-span-4 lg:col-span-3'>
          <div>
            <Typography as='h4' size='md' class='mb-2 font-semibold'>Account</Typography>
            <ul class='space-y-1'>
              <li>
                <a href='#'>
                  <Typography
                    as='span'
                    size='md'
                    color='dim'
                    class='hover:text-white hover:underline transition-colors delay-75 ease-in-out'
                  >
                    Create Account
                  </Typography>
                </a>
              </li>
              <li>
                <a href='#'>
                  <Typography
                    as='span'
                    size='md'
                    color='dim'
                    class='hover:text-white hover:underline transition-colors delay-75 ease-in-out'
                  >
                    Log In
                  </Typography>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class='flex h-16 items-center justify-between md:h-24'>
      <Typography as='p' size='md' color='dim' class='w-full'>© Crunchyroll, LLC</Typography>
      <button
        aria-label='Language-options'
        class='flex items-center justify-center p-3 group hover:bg-[#23252B] hover:text-white'
      >
        <YoutubeIcon />
        <Typography as='span' size='md' class='ml-3 whitespace-nowrap text-light'
          >ENGLISH (US)</Typography
        >
      </button>
    </div>
  </Container>
</footer>
