---
import LogoIcon from './icons/LogoIcon.astro';
---

<div class='flex items-center justify-center cursor-pointer px-4'>
  <LogoIcon
    class='h-auto w-32 text-primary hover:text-white ease-in-out transition-colors delay-100 duration-300'
  />
</div>
