---
import CodeIcon from './icons/CodeIcon.astro';
---

<button
  aria-label='Logo'
  class='h-[50px] w-[50px] focus:ring-2 ring-gray-200 rounded-xl flex items-center justify-center bg-gray-700/50 border-gray-700/90'
>
  <CodeIcon class='size-10 text-white' />
</button>
