---
import Container from './Container.astro';
import MainCarouselItem from './MainCarouselItem.astro';
import Typography from './ui/Typography.astro';

export const controls = [
  {
    index: 0,
    title: 'MASHLE: MAGIC AND MUSCLES New Episode',
  },
  {
    index: 1,
    title: 'KONOSUBA - An Explosion on This Wonderful World!',
  },
  {
    index: 2,
    title: 'Suzume on Terra Tickets on Sale Now!',
  },
  {
    index: 3,
    title: 'Crunchyroll Music: ASIAN KUNG-FU GENERATION',
  },
  {
    index: 4,
    title: 'TONIKAWA S2 Sub and Dub New Episode',
  },
];
---

<div class='select-none bg-carousel-green py-4 sm:py-6'>
  <div class='mx-auto lg:max-w-screen-lg px-4 md:px-14 relative'>
    <div class='swiper main'>
      <div class='swiper-wrapper'>
        <MainCarouselItem
          src='/images/carousel/carousel-1-small.webp'
          srcset='/images/carousel/carousel-1-large.webp'
        />
        <MainCarouselItem
          src='/images/carousel/carousel-2-small.webp'
          srcset='/images/carousel/carousel-2-large.webp'
        />
        <MainCarouselItem
          src='/images/carousel/carousel-3-small.webp'
          srcset='/images/carousel/carousel-3-large.webp'
        />
        <MainCarouselItem
          src='/images/carousel/carousel-2-small.webp'
          srcset='/images/carousel/carousel-2-large.webp'
        />
        <MainCarouselItem
          src='/images/carousel/carousel-4-small.webp'
          srcset='/images/carousel/carousel-4-large.webp'
        />
      </div>
    </div>
  </div>
</div>

<Container class:list='py-6'>
  <div class='swiper thumbs'>
    <div class='swiper-wrapper !hidden !gap-0.5 lg:!flex'>
      {
        controls.map((item) => (
          <button class='col-span-1 swiper-slide min-h-[50px] border-l-[3px] border-primary bg-[#23252b] px-2 !transition-colors !duration-300 !ease-in-out hover:border-primary hover:bg-[#393B41] sm:border-l-0 sm:border-t-[3px] sm:border-transparent'>
            <Typography as='p' size='xs' class='line-clamp-2 font-semibold text-left leading-4'>
              {item.title}
            </Typography>
          </button>
        ))
      }
    </div>
    <div class='swiper-wrapper flex items-center justify-center gap-2 lg:!hidden'>
      {controls.map((_) => <button class='swiper-slide !h-1 !w-11 bg-gray-200 hover:bg-white' />)}
    </div>
  </div>

  <style>
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      background-size: cover;
      background-position: center;
    }
    .thumbs .swiper-slide {
      width: 25%;
      height: 100%;
    }
  </style>

  <script src='../libs/slider.js'></script>
</Container>
