---
import { BREAKPOINTS } from '@/utilities/constants';

interface Props {
  src: string;
  srcset: string;
}
const { src, srcset } = Astro.props;
---

<div class='swiper-slide'>
  <picture>
    <source media={`(min-width: ${BREAKPOINTS.lg}px)`} srcset={srcset} />
    <img src={src} alt='banner-img' />
  </picture>
</div>

<style>
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
  }
</style>
