<div class='select-none py-4 sm:py-6'>
  <div class='mx-auto lg:max-w-[1070px] px-4 md:px-14 relative'>
    <div class='swiper multi-main'>
      <div class='swiper-wrapper'>
        <slot />
      </div>
    </div>
  </div>
</div>

<style>
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
  }
</style>

<script src='../libs/multi-slider.js'></script>
