---
import Container from './Container.astro';

type Props = {
  id: string;
  disableContainer?: boolean;
};

const { id, disableContainer = false, ...restProps } = Astro.props;
---

<section id={id} {...restProps} class='py-6'>
  {
    disableContainer ? (
      <slot />
    ) : (
      <Container>
        <slot />
      </Container>
    )
  }
</section>
