---
import Container from './Container.astro';

type Props = {
  id: string;
};

const { id, ...restProps } = Astro.props;
---

<section id={id} {...restProps} class='py-6'>
  <Container>
    <slot />
  </Container>
</section>
